<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluckr</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <img src="images/rooster.svg" alt="rooster" id="logo">
          <ul class="navbar-nav">
            <li>
                <a class="btn btn-outline-primary" href="/form" id="">Cluck!</a>
    
            </li>
            <% if (username) { %>
              <li class="nav-item">
                  
                  <form action="/sign_out" method="POST">  
                    <span id="hello-user">Hello, <%- username %>!</span>
                      <button type="submit" class='btn btn-outline-primary'>Sign Out</button>
                  </form>
              </li>
          <% } else { %>
              <li class="nav-item">
                  <form action="/sign_in" method="POST" class='form-inline'>
                      <button type="submit" class='btn btn-outline-primary' id="sign-in">Sign In</button>
                  </form>
              </li>
          <% } %>
          </ul>
        </div>
    </nav>
  </header>