<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluckr</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white">
          <div class="navbar-brand">
            <a class="navbar-brand" href="/">
            <img src="images/rooster.svg" alt="rooster" id="logo">
            </a>
          </div>

          <div class="form-inline">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-secondary" href="/form" id="cluck-button">Cluck!</a>
            </li>
            <% if (username) { %>
              <li class="nav-item">
              <p id="user"><%- username %></p>
            </li>
              <li class="nav-item">
                  <form action="/sign_out" method="POST">  
                      <button type="submit" class='btn btn-secondary' id="sign-out">Sign Out</button>
                  </form>
              </li>
          <% } else { %>
              <li class="nav-item">
                  <form action="/sign_in" method="POST" class='form-inline'>
                      <a href="sign_in" class='btn btn-secondary' id="sign-in">Sign In</a>
                  </form>
              </li>
          <% } %>
          </ul>
        </div>

    </nav>
    <hr>
  </header>