<%- include('./partials/header') %>
<!-- <h1>Welcome</h1> -->
<div class="wireframe sign-in-page">
    <form action="/sign_in" method="POST" class='form-inline'>
        <label for="username">Username</label>
        <input class='form-control' name='username' placeholder='e.g. Madam Welminster' type="text">
        <button type="submit" class='btn btn-outline-secondary' id="sign-in">Sign In</button>
      </form>
</div>

<%- include('./partials/footer') %>