.wireframe {
    outline: 2px solid gray;
}

#logo {
    width: 4em;
}

form {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 1em;
    margin: 2em;
}

#rooster-avatar {
    width: 4em;
}

.cluck-image {
    width: 10em;
}

.card {
    width: 16em;
    margin: 2em;
}